@font-face {
    font-family: pokeFont;
    src: url(PokemonGB.ttf);
}

body {
    font-family: pokeFont;
}

img {
  height: 176px;
  width: 126px;
}

li {
  width: 126px
}

div {
  display: inline-block;
  margin: 2px;
}
