<!DOCTYPE html>
<html ng-app="pokemon">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="css/style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js"></script>
    <script src="js/app.js"></script>
    <script src='js/pokemonController.js'></script>
  </head>
  <body ng-controller="pokemonController as pkmnCtrl">
    <div id="header">
      <select ng-model='selectedType' ng-options='t.value as t.display for t in types'></select>
      <select ng-model='supertype' ng-options='st.value as st.display for st in supertypes'></select>
      <input ng-model='selectedName' placeholder='name'>
      <button ng-click='searchDB()'></button>
    </div>
    <ul ng-repeat="pkmn in pkmnCtrl.allCards | orderBy: 'nationalPokedexNumber'">
      <li>{{$index + 1}}</li>
      <li>No. {{pkmn.nationalPokedexNumber}} {{pkmn.name}}</li>
    </ul>
  </body>
</html>
