<!DOCTYPE html>
<html ng-app="pokemon">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="css/style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.15/angular-ui-router.min.js"></script>
    <script src="https://code.jquery.com/jquery-2.2.4.js" integrity="sha256-iT6Q9iMJYuQiMWNd9lDyBUStIq/8PuOW33aOqmvFpqI=" crossorigin="anonymous"></script>
    <script src="js/app.js"></script>
    <script src='js/pokemonController.js'></script>
    <script src='js/script.js'></script>

  </head>
  <body ng-controller="pokemonController as pkmnCtrl">
    <div id="header" style="display:block">
      <select ng-model='selectedType' ng-options='t.value as t.display for t in types' ng-change="consoler()"></select>
      <select ng-model='supertype' ng-options='st.value as st.display for st in supertypes'></select>
      <input ng-model='selectedName' placeholder='name'>
      <button ng-click='searchDB()'></button>
    </div>

    <!-- <p>{{pkmnCtrl.cards}}</p> -->
    <div class="pokemonLink" ng-repeat="pkmn in pkmnCtrl.allCards | orderBy: 'nationalPokedexNumber'">
      <img ng-src="{{pkmn.imageUrl}}">
      <!-- <li>No. {{pkmn.nationalPokedexNumber}} {{pkmn.name}}</li> -->
    </div>
  </body>
</html>
